

{% extends 'base.html' %}
{% block content %}

<h1>Notes</h1>
<form method="GET" class="search-form" action="{% url 'search_query' %}">
  {% csrf_token %}
  <input class="search-input" type="text"  name="searchNote" placeholder="Search Notes">
  <input class="btn" type="submit"  name="search" value="Search">                
</form> 
{% for note in notes %}
<a href="/notes/{{ note.id }}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ note.title }}</span>
      <p>Details: {{ note.details }}</p>
      {% if note.time_modified  %}
        <p class="modfiedDate"> Last Modified: {{ note.time_modified }}</p>
      {% else %}
        <p class="modfiedDate"> Last Modified: {{ note.time_created }}</p>
      {% endif %}
    </div>
  </div>
</a>  
{% endfor %}

{% endblock %}